APP_NAME=MGP
APP_ENV=local
APP_KEY=
APP_DEBUG=false
APP_URL=https://meugestorpsic.com.br/
# VITE_API_BASE_URL=http://localhost:8000

#PRODUCAO
# VITE_API_BASE_URL=https://www.meugestorpsic.com.br/

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=mailpit
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=mt1

VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

PAGSEGURO_BASE_URL=https://api.pagseguro.com
PAGSEGURO_TOKEN='65b2a17b-63ae-4063-869b-75290888efcdf18fdb634a24b87f8cfc8e861234792daa42-3d2d-4093-b6c7-78e175a8798e'
PAGSEGURO_EMAIL='yuri.alec@hotmail.com'
PAGSEGURO_SANDBOX=true
PAGSEGURO_PUBLIC_KEY='MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAkNw3e4hEczgGnTZ9Edh74l4D5IEdSHNzkmUtMw0YdOOsnc9WueT5UkEjExu8paxLinFL2PZ6...'
PAGSEGURO_WEBHOOK_URL=https://meugestorsaude.com.br/api/webhooks/pagbank?token=mgs_EoUJHXdiRvJMeBFJJxFO
PAGSEGURO_WEBHOOK_TOKEN=mgs_EoUJHXdiRvJMeBFJJxFO

# PAGSEGURO_SANDBOX=false
# PAGSEGURO_PUBLIC_KEY='MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAr+ZqgD892U9/HXsa7XqBZUayPquAfh9xx4iwUbTSUAvTlmiXFQNTp0Bvt/5vK2FhMj39qSv1zi2OuBjvW38q1E374nzx6NNBL5JosV0+SDINTlCG0cmigHuBOyWzYmjgca+mtQu4WczCaApNaSuVqgb8u7Bd9GCOL4YJotvV5+81frlSwQXralhwRzGhj/A57CGPgGKiuPT+AOGmykIGEZsSD9RKkyoKIoc0OS8CPIzdBOtTQCIwrLn2FxI83Clcg55W8gkFSOS6rWNbG5qFZWMll6yl02HtunalHmUlRUL66YeGXdMDC2PuRcmZbGO5a/2tbVppW6mfSWG3NPRpgwIDAQAB'
# PAGSEGURO_TOKEN='46f4c380-0011-4bc8-9f76-bcc7502fcc5862ae14174f69922ff6fd09cbee652d3e9cba-8579-4fe4-bcc8-6e001ce92347'
# PAGSEGURO_BASE_URL=https://sandbox.api.pagseguro.com
